<div class="container col-9 float-left" style="margin-left: 100px;">
  <h1 class="mt-5">Article Detail</h1>
  <p id="notice"><%= notice %></p>

  <table class="table border col-9">
    <thead class="thead-light">
      <th>
        <%= @article.title %>
      </th>
    </thead>
    <tbody>
      <td>
        <%= @article.body %>
        <p class="mt-3">
          <%= link_to "Articles", articles_path, class: "btn btn-primary btn-dark mr-3" %>
          <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary btn-dark mr-3" %>
          <%= link_to 'Delete', article_path, method: :delete, data: {confirm: "削除してよろしいですか?"}, class: "btn btn-primary btn-dark mr-3" %>
        </p>
      </td>
    </tbody>
  </table>
</div>